<div class="dashboard-welcome">

  <h3>This is the dashboard</h3>
  <span>Hello <%= current_user.name %>, Welcome your dashboard</span>


<div class="container">
  <h4>Find all of your new alerts in this space</h4>
</div>
  <div class="column">
    <p>one column can hold some stuff, maybe some recent friends</p>
  </div>
  <div class="column">
    <h3>Friends List</h3>
    <ul>
      <% @friends.each do |friend| %>
        <li><%= link_to friend.name, user_path(friend) %>
      <% end %>
    </ul>
  </div>
</div>
<div>
  <div class="column">
    <p>third column for something else?</p>
  </div>
  <div class="column">
    <p>fourth column, I just added this one for funsies</p>
  </div>
</div>
