<div class="dashboard-welcome">

  <h3>This is the dashboard</h3>
  <span>Hello <%= current_user.name %>, Welcome your dashboard</span>


<div class="container">
  <h4>Find all of your new alerts in this space</h4>
</div>
  <div class="column">
    <p>one column can hold some stuff, maybe some recent friends</p>
  </div>
  <div class="column">
    <p>another column can keep some other things in it, maybe events upcoming?</p>
  </div>
</div>
<div>
  <div class="column">
    <p>third column for something else?</p>
  </div>
  <div class="column">
    <p>fourth column, I just added this one for funsies</p>
  </div>
</div>
