html, body {
  height: 100%;
  font-family: 'Barlow';
}

.bg {
    /* The image used */
    background-image: url("https://lh4.googleusercontent.com/EIjq77C5gtZA5s4vlXw6KVn7l8LTY69eamrtkAyCgdnOjLrO8FoLmHadJvfDNHMwkKVK1RBkYhTGsz4kxD_3=w1241-h680-rw");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.desc {
  height: 400px;
  margin-top: 10%;
  background-color: white;
  padding-left: 40px;
}

.desc img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.desc p {
  margin-top: 20px;
  text-align: center;
  font-size: 1.6em;
  font-style: italic;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 0.7px solid black;
}

.flash {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #E22F5D;
  color: white;
}

.login {
  height: 600px;
  margin-top: 40px;
  margin-left: 20px;
}

.login:hover {
  background-color: rgba(255, 255, 255, 0.85);
  transition: background-color .75s;
}

.login:hover a {
  color: #9e9e9e;
}

.login:hover h3 {
  color: black;
}

.login h3 {
  text-align: center;
  color: white;
  font-style: italic;
}

.login a {
  color: black;
}

.login a:hover {
  color: #26c6da;
  transition: color .5s;
}
