// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.column {
float: left;
width: 31%;
padding: 10px;
}

div .user {
  text-align: center;
  float: left;
  width: 31%;
}

div .user img {
  border-radius: 20%;
}

.friend_list img{
  border-radius: 100%;
}

.user_search img {
  border-radius: 100%;
}
